<%= form_with(model: post, class: 'form') do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div class='field'>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, style: 'width:251px; height: 103px;' %>
  </div>

  <div class='field'>
    <%= form.label :video, style: "display: block" %>
    <%= form.file_field :video %>
  </div>

  <div class='field'>
    <%= form.submit %>
  </div>
<% end %>
