<p style="color: green"><%= notice %></p>

<h1>All Videos</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <div id="<%= dom_id post %>" class='post'>
      <%= video_tag url_for(post.video), controls: true %>
      <p><strong>Posted by:</strong> <%= post.user.email %></p>
      <p>Likes(likes_count)</p>
      <p>Comments(comments_count)</p>
      <%= link_to 'View Video', post_path(post) %>
    </div>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
